

.container{
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 14px;
    font-weight: 600;
    color: var(--blue);
    background-color: var(--dark-blue);
    border-radius: 9px;
    width: fit-content;
    padding: 6px;
}

@media (max-width: 480px) {
    .container{
        gap: 5px;
        font-size: 15px;
        border-radius: 10px;
        padding: 7px 10px 7px 6px;
    }
}