


.container{
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 99;
    background-color: var(--light-black);
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-radius: 30px 30px 0 0;
    padding: 15px 20px 44px 20px;
    opacity: 0;
    transition: all .4s ease;

    &.hidden{
        opacity: 1;
    }

    .name{
        font-size: 16px;
        font-weight: 500;
    }

    .specialties{
        margin-top: 5px;
        color: rgba(255, 255, 255, .8);
        font-size: 15px;
    }

    .button{
        height: 50px;
        width: 100%;
        max-width: 440px;
        margin-top: 20px;

        .link{
            height: 50%;
        }
    }
}

@media (max-width: 480px) {
    .container{
        display: flex;;
    }
}