

.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: center / cover no-repeat url('../../lib/assets/footer_background.png');
    border-radius: 40px;
    overflow: hidden;
    max-width: 100%;
    text-align: left;
    margin: 100px auto;
    width: 1200px;
    max-width: calc(100% - 40px);
    padding: 60px 50px;

    .logo{
        position: relative;
        width: 100%;
        z-index: -1;
        transform: scale(1.1);
    }

    .container{
        position: relative;
        z-index: 1;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 40px;
        width: 1200px;
        max-width: 100%;
        margin: 0 auto;
        color: white;
        overflow: hidden;

        font-size: 18px;
    }

    ul{
        list-style: none;
        margin: 0;
        padding: 0;
    }
}



@media (max-width: 1100px) {
    .wrapper{
        .container {
            grid-template-columns: repeat(2, 1fr);
            gap: 0;
            column-gap: 40px;
            row-gap: 100px;
        }
    }
}

@media (max-width: 680px) {
    .wrapper{
        .container {
            grid-template-columns: repeat(1, 1fr);
            gap: 0;
            column-gap: 0;
            row-gap: 40px;
            text-align: center;

            font-size: 16px;
        }
    }
}

@media (max-width: 480px) {
    .wrapper{
        background: center / cover no-repeat url('../../lib/assets/footer_mobile_background.png');
        padding: 40px 24px;
    }
}


@media (max-width: 350px) {
    .wrapper{
          padding: 40px 14px;
    }
    .nowrap{
        text-wrap: wrap;
    }
}