
.loader{
    width: 100%;
    height: 50px;
}

.container{
    width: 280px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: var(--dark-background);
    padding: 20px;
    border-radius: 20px;
}

@media (max-width: 650px) {
    .container{
        width: 100%;
    }
}