


.loaderContainer{
    position: relative;
    width: 100%;
    height: 100%;
    background: #333;
    background: linear-gradient(
        110deg,
        #2a2a2a 8%,
        #3a3a3a 18%,
        #2a2a2a 33%
    );
    border-radius: 5px;
    background-size: 500% 100%;
    animation: 6s shine linear infinite;
    z-index: 10;

    &.hidden {
        display: none;
    }
}


@keyframes shine {
    to {
        background-position-x: -500%;
    }
}