


.loaderContainer{
    position: relative;
    width: 100%;
    height: 100%;
    background: #333;
    background: linear-gradient(
        110deg,
        #2a2a2a 8%,
        #3a3a3a 18%,
        #2a2a2a 33%
    );
    border-radius: 5px;
    background-size: 500% 100%;
    animation: 6s shine linear infinite;
    z-index: 10;

    &.hidden {
        display: none;
    }

    &.blue{
        background: #399fff;
        background: linear-gradient(
            110deg,
            #2F9BFF 8%,
            #89c6ff 18%,
            #2F9BFF 33%
        );
        animation: 6s shine linear infinite;

        background-size: 500% 100%;
    }
}


@keyframes shine {
    to {
        background-position-x: -500%;
    }
}