

.inputs{

    display: flex;
    align-items: center;

    .dash{
        border-radius: 2px;
        width: 20px;
        height: 3px;
        margin: 0 4px;
        background-color: #ffffff80;
    }
}