

.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    overflow: hidden;

    .header{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        position: relative;

        .price{
            position: absolute;
            left: 0;
            font-size: 20px;
            font-weight: 500;
            color: var(--blue);
            background-color: var(--dark-blue);
            padding: 6px 20px;
            border-radius: 10px;

            span{
                opacity: 0.4;

                svg{
                    fill: var(--blue);
                }
    
                &.highlight{
                    opacity: 1;
                }
            }
        }

        >h2{
            font-size: 32px;
            line-height: 42px;
        }
    }

    .content{
        display: flex;
        color: var(--text-gray);
        border-radius: 16px;
        border: 1px solid var(--dark-gray);
        position: relative;

        .desctop{
            display: flex;
            width: 100%;
        }

        .mobile{
            width: 100%;
            display: none;
        }
    }
}

.list{
    list-style: none;
    width: 50%;

    &:first-child{
        border-right: 1px solid var(--dark-gray);
    }

    .top{
        display: flex;
        width: 100%;
        gap: 16px;
        padding: 20px 20px 8px 20px;

        .badge{
            padding: 8px 20px;
            border-radius: 8px;
            background: #404040;
            text-align: center;
                
            &:first-child{
                width: 65%;
            }

            &:last-child{
                width: 35%;
            }
        }
    }

    .item{
        display: flex;
        width: 100%;
        gap: 16px;
        border-bottom: 1px solid var(--dark-gray);
        padding: 10px 20px;

        &:last-child{
            border-bottom: none;
        }

        .name{
            width: 65%;
            text-align: left;
        }
        .amount{
            text-align: right;
            width: 35%;
        }
    }
}

@media (max-width: 950px) {
    .container{
        .content{
            flex-direction: column;

            .desctop{
                display: none;
                width: 100%;
            }

            .mobile{
                display: flex;
            }
        }
        .list{
            width: 100%;
            
            &:first-child{
                border-right: none;
            }
        }
    }
}


@media (max-width: 550px) {
    .container{
        .header{
            justify-content: start;
            >img{
                display: none;
            }

            .price{
                left: auto;
                right: 0;
            }

            
            >h2{
                font-size: 26px;
                line-height: 42px;
            }
        }
    }

    .list{
        .top{
            display: none;
        }

        .item{
            flex-direction: column;
            gap: 4px;

            .name{
                width: 100%;
                text-align: left;
                font-weight: 600;
                font-size: 18px;
            }
            .amount{
                text-align: left;
                width: 100%;
                color: var(--blue);
            }
        }
    }
}


@media (max-width: 330px) {
    .container{
        .header{
            flex-direction: column;
            align-items: start;
            gap: 2px;

            .price{
                position: relative;
                font-size: 17px;
            }

            >h2{
                font-size: 26px;
                line-height: 42px;
            }
        }
        .list{
            .item{
                gap: 3px;
                .name{
                    font-size: 17px;
                }
            }
        }
    }
}