

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    &.miniature {
        gap: 6px;

        .badge{
            font-size: 12px;
            height: 26px;
            padding: 0px 10px 0 8px;
            gap: 6px;

            &.canBuyAdvertising, &.canSellAdvertising{
                svg{
                    transform: scale(.7);
                }
            }
            &.canBarter{
                svg{
                    transform: scale(.9);
                }
            }
        }
    }

    .badge{
        display: flex;
        align-items: center;
        gap: 12px;
        border-radius: 8px;
        padding: 6px 16px;
        font-weight: 700;

        &.canBuyAdvertising{
            background-color: #2C62F4;
        }
        
        &.canSellAdvertising{
            background-color: #59A1ED;
        }
        
        &.canBarter{
            background-color: #0A8871;
        }
    }
}

@media (max-width: 700px) {
    .container {
        .badge{
            height: 30px;
            padding: 0 10px 0 10px;
            gap: 8px;
            border-radius: 6px;

            &.canBuyAdvertising, &.canSellAdvertising{
                padding: 0px 10px 0 9px;
                svg{
                    transform: scale(.8);
                }
            }
        }
    }
}