


.container{
    margin-top: 20px;
    
    .question{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 6px;
        font-size: 20px;
        cursor: pointer;
        color: var(--blue);     
    }
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    background-color: var(--light-black);
    border-radius: 20px;
    padding: 20px 0;
    height: 90vh;
    overflow: hidden;

    .wrapper{
        padding: 0 40px;
        overflow: auto;
        width: 500px;
        height: calc(90vh - 40px);

        &::-webkit-scrollbar {
            width: 6px;
        }
        &::-webkit-scrollbar-track {
            margin: 0;
        }
        &::-webkit-scrollbar-thumb{
            background-color: #ccc;
            border-radius: 50% / 3px;
        }
    }

    p{
        font-size: 18px;
    }

    p{
        margin: 20px 0;
    }

    .questionContent{
        color: var(--blue);     
        font-weight: 600;
    }

    .close{
        stroke: #fff;
        position: absolute;
        top: 12px;
        right: 12px;
        cursor: pointer;
        transition: all 0.5s ease;

        &:hover{
            stroke: #d7d7d7;
        }
    }
}

@media (max-width: 480px) {
    .container{
        .question{
            font-size: 16px;
        }
    }
    .content{
        padding: 5px 0;
        
        .wrapper{
            height: calc(90vh - 10px);
            padding: 0 20px;
        }
        
        p{
            font-size: 16px;
        }
    }
}