


.container{
    margin-top: 20px;
    
    .question{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 6px;
        font-size: 20px;
        cursor: pointer;
        color: var(--blue);     
    }
}

.content{
    position: fixed;
    width: 500px;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    background-color: var(--light-black);
    border-radius: 20px;
    padding: 20px 40px;
    max-width: 90%;
    max-height: 90%;
    overflow: auto;

    &::-webkit-scrollbar {
        width: 6px;
    }
    &::-webkit-scrollbar-track {
        margin: 10px 0;
    }
    &::-webkit-scrollbar-thumb{
        background-color: #ccc;
        border-radius: 50% / 3px;
    }

    >p{
        margin: 20px 0;
    }

    .questionContent{
        color: var(--blue);     
        font-weight: 600;
    }

    .close{
        stroke: #fff;
        position: absolute;
        top: 12px;
        right: 12px;
        cursor: pointer;
        transition: all 0.5s ease;

        &:hover{
            stroke: #d7d7d7;
        }
    }
}