


.container {
    overflow: hidden;

    .desctop{
        display: block;
    }
    .mobile{
        display: none;
    }
}

@media (max-width: 490px) {
    .container {
        overflow: hidden;

        .desctop{
            display: none;
        }
        .mobile{
            display: block;
        }
    }
}