.wrapper{
    display: flex;
    align-items: center;
    width: fit-content;

    &.light{
        filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.3));
    }
}

.sun{
    stroke: var(--text-gray);
}
    
.moon{
    stroke: #464646;
}
