


.button{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: #2A2A2A;
    border-radius: 8px;
    width: 100%;
    height: 46px;
    font-size: 16px;
    font-weight: 600;
    padding: 18px 30px;
    cursor: pointer;
    border: 1px solid transparent;
    transition: all .15s ease;
            
    &:hover{
        border: 1px solid var(--blue);
    }
}