.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;

    .main{
        display: flex;
        flex-direction: column;
        gap: 20px;

        .group{
            display: flex;
            gap: 20px;
            flex-direction: column;
        }

        .name{
            font-size: 28px;
            line-height: 42px;
        }
        
        .city{
            display: flex;
            align-items: center;
            gap: 4px;
            color: var(--text-gray);
            
            img{
                object-fit: contain;
                width: 16px;
                height: 16px;
            }
        }
    
        .specialities{
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
        }

        .flags{
            display: flex;
            gap: 15px;
            height: 100%;
            .flag{
                display: flex;
                align-items: center;
                gap: 7px;
                color: var(--blue);
            }
        }

        .experience{
            display: flex;
            align-items: center;
            gap: 10px;
            margin-top: -5px;
            color: var(--blue);
        }
    }

    .blogTheme{
        .sign{
            color: var(--text-gray);
        }
    }

    .buttons{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;

        .link{
            display: block;
            width: 200px;
        }
    }

}

@media (max-width: 750px) {
    .container{
        .main{
            .name{
                font-size: 26px;
                line-height: 36px;
            }

            .flags{
                flex-direction: column;
            }
        }
    }
}

@media (max-width: 550px) {
    .container{
        .main{
            gap: 15px;

            .name{
                font-size: 22px;
                line-height: 28px;
            }

            .specialities{
                gap: 5px;
                margin-top: -5px;
            }

            .flags{
                gap: 5px;
                margin-top: -10px;
            }

            .experience{
                margin-top: 0;
            }

            .group{
                flex-direction: column-reverse;
                gap: 15px;
            }
        }
    }
}

@media (max-width: 480px) {
    .container{
        .main{
            font-size: 15px;

            .name{
                font-size: 20px;
                line-height: 26px;
            }

            .city{
                img{
                    width: 15px;
                    height: 15px;
                }
            }

            .flags{
                font-size: 14px;
                .flag{
                    gap: 8px;
                    >img{
                        height: 25px;
                        width: 29px;
                    }
                }
            }

            .experience{
                gap: 8px;
                font-size: 14px;
                >img{
                    height: 25px;
                    width: 29px;
                }
            }
        }

        .buttons{
            gap: 0;

            .link{
                width: 100%;
                margin-top: 10px;
            }
        }
    }
}

@media (max-width: 400px) {
    .container{
        .main{
            font-size: 14px;

            .name{
                font-size: 18px;
                line-height: 24px;
            }

            .city{
                img{
                    width: 14px;
                    height: 14px;
                }
            }

            .flags{
                font-size: 12px;
                .flag{
                    gap: 6px;
                    >img{
                        height: 23px;
                        width: 26px;
                    }
                }
            }

            .experience{
                font-size: 12px;
                gap: 6px;
                >img{
                    height: 23px;
                    width: 26px;
                }
            }
        }
    }
}