.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;

    .main{
        display: flex;
        flex-direction: column;
        gap: 20px;

        .name{
            font-size: 28px;
            line-height: 42px;
        }
    
        .city{
            color: var(--text-gray);
        }
    
        .specialities{
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
        }

        .flags{
            display: flex;
            gap: 20px;
            height: 100%;
            .flag{
                display: flex;
                align-items: center;
                gap: 10px;
                color: var(--blue);
            }
        }

        .experience{
            display: flex;
            align-items: center;
            gap: 10px;
            color: var(--text-gray);
        }
    }

    .blogTheme{
        .sign{
            color: var(--text-gray);
        }
    }

    .buttons{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;

        .link{
            display: block;
            width: 200px;
        }
    }

}

@media (max-width: 750px) {
    .container{
        .main{
            .name{
                font-size: 26px;
                line-height: 36px;
            }

            .flags{
                flex-direction: column;
            }
        }
    }
}


@media (max-width: 480px) {
    .container{
        gap: 20px;
        .main{
            .name{
                font-size: 24px;
                line-height: 30px;
                text-align: center;
            }

            .city{
                margin-top: 10px;
                text-align: center;
            }

            .flags{
                justify-content: center;

                .flag{
                    justify-content: center;
                }
            }

            .experience{
                justify-content: center;    
            }

            .specialities{
                display: flex;
                flex-direction: row;
                justify-content: center;
                gap: 10px;
                flex-wrap: wrap;
                margin-top: 10px;
                margin-bottom: 10px;
            }
        }

        .buttons{

            .link{
                width: 100%;
                padding: 0 20px;
                margin-top: 10px;
            }
        }
    }
}