


.wrapper{
    position: relative;

    .list{
        position: relative;
        z-index: 109;
        margin-top: 12px;
        color: white;
        max-height: 480px;
        overflow-y: auto;
        background: #1E1E1E;
        border-radius: 26px;
    }

    .openFilterForMobile{
        display: none;
    }
}

@media (max-width: 480px) {
    .wrapper{
        margin-top: 20px;

        .search{
            display: flex;
            align-items: center;
            gap: 10px;
            width: 100%;
        }

        .openFilterForMobile{
            display: block;
        }
    }
}