

.container{
    position: fixed;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
    z-index: 1;
    -apple-liquid-glass: none !important;
    -webkit-liquid-glass: none !important;
    backdrop-filter: none !important;
    -webkit-backdrop-filter: none !important;
    
    transition: all .2s ease;

    svg{
        width: 64px;
        height: 64px;
        -apple-liquid-glass: none !important;
        -webkit-liquid-glass: none !important;
        backdrop-filter: none !important;
        -webkit-backdrop-filter: none !important;
    }
}

@media (max-width: 480px) {
    .container{
        svg{
            width: 54px;
            height: 54px;
        }
    }
}