


.container{
    position: relative;
    
    .content{
        display: flex;
    }

    .question{
        min-width: 20px;
        min-height: 20px;
        width: 20px;
        height: 20px;
        cursor: pointer;
        position: relative;
        opacity: 0.5;

        path{
            stroke: #FFF;
            &:nth-child(2){
                fill: #FFF;
            }
        }
    }

    .hr{
        position: absolute;
        display: block;
        height: 4px;
        background-color: transparent;
        width: 100%;
    }

    .hint{
        position: absolute;
        background-color: rgba(68, 68, 68, 0.5);
        backdrop-filter: blur(14px);
        border-radius: 8px;
        padding: 12px 14px;
        display: none;
        left: 0;
        margin-top: 4px;

        &.open{
            display: flex;
        }
    }
}