.container{
    position: relative;
    z-index: 9;
    
    .content{
        display: flex;
    }

    .question{
        min-width: 20px;
        min-height: 20px;
        width: 20px;
        height: 20px;
        
        cursor: pointer;
        position: relative;
        opacity: 0.5;

        path{
            stroke: #FFF;
            &:nth-child(2){
                fill: #FFF;
            }
        }
    }

    .hr{
        position: absolute;
        display: block;
        width: 100%;
        height: 10px;

        .blurClip.open{
            position: absolute;
            width: 100%;
            margin: 0 auto;
            left: 0%;
            height: 100%;
            background-color: rgba(68, 68, 68, 0.5);
            backdrop-filter: blur(14px);
            clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
        }
    }

    .hint{
        position: absolute;
        background-color: rgba(68, 68, 68, 0.5);
        backdrop-filter: blur(14px);
        border-radius: 8px;
        padding: 12px 14px;
        display: none;
        left: 0;
        margin-top: 4px;

        &.open{
            display: flex;
        }
    }
}

.abs{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 9;
}