


.container{
    display: flex;
    flex-direction: column;
    gap: 20px;

    --text-gray: #aeaeae;

    .main{
        display: flex;
        flex-direction: column;
        gap: 20px;

        .name{
            display: flex;
            flex-wrap: wrap;
            font-size: 28px;
            line-height: 32px;
        }
    
        .city{
            display: flex;
            gap: 4px;
            color: var(--text-gray);

            img{
                margin-top: 2px;
                width: 11px;
                height: 13px;
            }
        }
    
        .specialities{
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
        }
    }

    .blogTheme{
        .sign{
            color: var(--text-gray);
        }
    }

    .link{
        display: block;
        width: 200px;
    }
}

@media (max-width: 980px) {
    .container{
        .link{
            display: none;
        }
    }
}

@media (max-width: 750px) {
    .container{
        .main{
            .name{
                font-size: 26px;
                line-height: 30px;
            }
        }
    }
}

@media (max-width: 550px) {
    .container{
        gap: 10px;
        .main{
            gap: 0;
            .city{
                margin-top: 15px;
                margin-bottom: 10px;
            }

            .name{
                font-size: 24px;
                line-height: 30px;
            }
        }
    }
}

@media (max-width: 480px) {
    .container{
        .main{
            .specialities{
                gap: 6px;
            }
        }
    }
}


@media (max-width: 440px) {
    .container{
        .main{
            .name{
                font-size: 22px;
                line-height: 26px;
            }

            .specialities{
                gap: 5px;
            }
        }
    }
}

@media (max-width: 400px) {
    .container{
        font-size: 15px;
        .main{
            .name{
                font-size: 20px;
                line-height: 24px;
                font-weight: 800;
            }

            .city{
                img{
                    margin-top: 1px;
                }      
            }
        }
    }
}