
.container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
  background-color: var(--light-black);
  padding: 10px 10px 20px 10px;
  border-radius: 20px;

  .header{
    display: flex;
    flex-direction: column;
    gap: 20px;

    .image{
      display: flex;
      position: relative;

      .icons{
        display: flex;
        gap: 4px;
        position: absolute;
        bottom: 10px;
        left: 10px;
        z-index: 1;

        img{
          object-fit: contain;
          height: 32px;
          width: 36px;
        }
      }

      .avatar{
        object-position: 10% 10%;
        object-fit: cover;
        position: relative;
        width: 100%;
        height: auto;
        aspect-ratio: 1.6 / 1;
        border-radius: 14px;
      }
    }

    .name{
      font-weight: 600;
      line-height: 20px;
      font-size: 20px;
      padding: 0 9px;
      color: #FFF;
    }
  }

  .infoWrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #aeaeae;
    padding: 0 9px;

    .speciality{
      color: var(--blue);
    }

    .city{
      display: flex;
      align-items: center;
      gap: 4px;
      margin-top: 13px;

      img{
        object-fit: contain;
        width: 16px;
        height: 16px;
      }
    }

    .socialNetworks{
      margin-top: 15px;
    }
  }

  .buttonsWrapper{
    width: 100%;
    display: flex;
    flex-direction: column;

    .link{
      width: 100%;
      margin-top: 40px;
      text-align: center;
      font-size: 16px;
    }
  }
}

@media (max-width: 480px) {
  .container{
    
    .header{
      .name{

      }
    }

    .infoWrapper{

      .city{
        display: flex;
        align-items: center;
        gap: 4px;
        margin-top: 10px;
      }

      .socialNetworks{
        margin-top: 10px;
      }
    }

    .buttonsWrapper{

      .link{
        margin-top: 20px;
      }
    }
  }
}

@media (max-width: 400px) {
  .container{
    .header{
      .name{
        font-size: 18px;
        font-weight: 800;
      }
    }
  }
}