

.loader{
    width: 100%;
    height: 50px;
}

.container{
    width: 280px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: var(--dark-background);
    padding: 20px;
    border-radius: 20px;

    &.top{
        transform: translate3d(0px, 0px, 0px);
        position: fixed;
        top: 20px;
    }

    &.bottom{
        transform: translate3d(0px, 0px, 0px);
        position: fixed;
        bottom: 20px;
    }
}