



.wrapper{
    position: relative;

    .inputBox{
        position: relative;
        cursor: pointer;
        .input{
            
            pointer-events: none;
        }
    }

    &.error{
        .inputBox{
            .input{
                
            }
        }
    }

    .search{
        position: absolute;
        background-color: #242424;
        z-index: 99;
        width: 100%;
        border-radius: 4px;
        border: 1px solid var(--sign-gray);
        border-top: none;

        .input{
            margin: 0 10px;
        }

        .list{
            position: relative;

            .empty{
                font-size: 15px;
                opacity: .8;
                padding: 8px 12px;
            }
        }

        .sign{
            display: block;
            margin: 10px;
            text-align: start;
            width: 100%;
        }
    }
}