

.container{
    background-color: #1A1A1A;
    border-radius: 24px;
    overflow: hidden;

    .imageBox{
        display: flex;
        position: relative;
        width: 100%;
        aspect-ratio: 2 / 1;
        
        img{
            object-fit: cover;
            width: 100%;
        }
    }

    .wrap{
        margin-top: 20px;
        padding: 0 25px 20px 25px;
        
        .date{
            font-size: 15px;
            font-weight: 400;
            color: var(--blue);
        }
        .title{
            margin-top: 20px;
            font-weight: 600;
            font-size: 20px;
            line-height: 120%;
        }
        .description{
            margin-top: 10px;
            font-size: 16px;
            font-weight: 400;
            line-height: 118%;
            color: rgba(255, 255, 255, 0.8);
        }   
        
        .link{
            display: block;
            margin-top: 30px;
        }
    }
}