.page{
    display: flex;
    justify-content: center;
    flex-direction: column;

    .main{
        min-height: calc(100vh - 75px);
        width: 680px;
        max-width: 94%;
        margin: 0 auto;
    }
}