

.slider{
    position: fixed;
    display: flex;
    z-index: 9;
    gap: 5px;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #242424;
    padding: 10px 15px;
    border-radius: 100px;
    list-style: none;
    
    .item{
        height: 8px;
        width: 8px;
        border-radius: 100px;
        background-color: var(--blue);
        opacity: .15;
        transition: width .75s ease, opacity .75s ease;

        &.selected{
            opacity: 1;
            width: 21px;
            border-radius: 100px;
        }
    }
}

.listWrap{
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: #242424;
    border-radius: 30px;
    z-index: 11;
    width: 100%;
    left: 0;
    padding: 0 35px 45px 35px;
    transition: all .5s ease-out;
    bottom: -500px;
    height: 500px;
    overflow: auto;
    
    &.open{
        bottom: 0px;
    }

    .list{
        height: 400px;
        overflow: auto;
    }

    .dragClose{
        display: flex;
        justify-content: center;
        width: 100%;
        height: 55px;
        padding-top: 15px;
        touch-action: none; // отключает стандартный скролл на тач-устройствах

        &::after{
            content: "";
            height: 5px;
            width: 40px;
            border-radius: 100px;
            background-color: #464646;
        }
    }
}

.darken{
    position: fixed;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    min-height: 100vh;
    left: 0;
    top: 0;
}