

.slider{
    position: fixed;
    display: flex;
    z-index: 9;
    gap: 5px;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #242424;
    padding: 10px 15px;
    border-radius: 100px;
    list-style: none;
    
    .item{
        height: 8px;
        width: 8px;
        border-radius: 100px;
        background-color: var(--blue);
        opacity: .15;
        transition: width .75s ease, opacity .75s ease;

        &.selected{
            opacity: 1;
            width: 21px;
            border-radius: 100px;
        }
    }
}

.listWrap{
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: #242424;
    border-radius: 30px 30px 0 0;
    z-index: 11;
    width: 100%;
    left: 0;
    padding: 0 35px 55px 35px;
    bottom: -610px;
    max-height: 610px;  // 500 + 55 + 55
    overflow: auto;
    
    .list{
        max-height: 500px;
        padding: 0 6px;
        overflow: auto;
    }

    .dragClose{
        display: flex;
        justify-content: center;
        width: 100%;
        height: 55px;
        padding-top: 15px;
        touch-action: none; // отключает стандартный скролл на тач-устройствах

        &::after{
            content: "";
            height: 5px;
            width: 40px;
            border-radius: 100px;
            background-color: #464646;
        }
    }
}

.darken{
    position: fixed;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    min-height: 100vh;
    left: 0;
    top: 0;
}