

.slider{
    position: fixed;
    display: flex;
    z-index: 9;
    gap: 5px;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #242424;
    padding: 10px 15px;
    border-radius: 100px;
    list-style: none;
    
    .item{
        height: 8px;
        width: 8px;
        border-radius: 100px;
        background-color: var(--blue);
        opacity: .15;
        transition: width .75s ease, opacity .75s ease;

        &.selected{
            opacity: 1;
            width: 21px;
            border-radius: 100px;
        }
    }
}

.listWrap{
    padding: 0 30px 40px 30px;
}

.darken{
    position: fixed;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    min-height: 100vh;
    left: 0;
    top: 0;
}