
.bottom{
    display: flex;
    align-items: center;
}

.slider{
    gap: 5px;
    display: flex;
    background-color: var(--dark-background);
    padding: 16px 15px;
    border-radius: 100px;
    list-style: none;
    
    .item{
        height: 8px;
        width: 8px;
        border-radius: 100px;
        background-color: var(--blue);
        opacity: .15;
        transition: width .75s ease, opacity .75s ease;

        &.selected{
            opacity: 1;
            width: 21px;
            border-radius: 100px;
        }
    }
}


.list{
    padding: 0 30px 40px 30px;
    background-color: var(--light-black);
}

.darken{
    position: fixed;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    min-height: 100vh;
    left: 0;
    top: 0;
}