

.container{
    display: flex;

    .price{
        display: flex;
        align-items: center;
        opacity: 0.4;

        svg{
            fill: var(--blue);
        }

        &.highlight{
            opacity: 1;
        }
    }
}