

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 40px;
    min-height: 40px;
    width: 40px;
    height: 40px;
    border-radius: 10px;
}

@media (max-width: 650px) {
    .container{
        min-width: 36px;
        min-height: 36px;
        width: 36px;
        height: 36px;

        svg{
            width: 20px;
            height: 20px;
        }
    }
}