


.openMenu{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 40px;
    height: 40px;
    min-width: 40px;
    width: 40px;
    border-radius: 50px;
    background-color: var(--blue);

    >img{
        width: 20px;
        height: 20px;
    }

    cursor: pointer;
}

@media (max-width: 900px) {
    .openMenu{
        min-height: 62px;
        height: 62px;
        min-width: 62px;
        width: 62px;

         >img{
            width: 25px;
            height: 25px;
        }
    }
}

@media (max-width: 350px) {
    .openMenu{
        min-height: 52px;
        height: 52px;
        min-width: 52px;
        width: 52px;

        >img{
            width: 22px;
            height: 22px;
        }
    }
}