

.container{

    >h3{
        font-size: 28px;
        line-height: 40px;
        text-align: center;
        margin-top: 4px;
    }

    .content{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 12px;
        row-gap: 20px;
        margin-top: 20px;
    }
}

@media (max-width: 1000px) {
    .container{
        .content{
            grid-template-columns: repeat(3, 1fr);
        }
    }
}

@media (max-width: 700px) {
    .container{
        .content{
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media (max-width: 550px) {
    .container{
        >h3{
            font-size: 22px;
        }
        .content{
            grid-template-columns: repeat(1, 1fr);
        }
    }
}

@media (max-width: 400px) {
    .container{
        >h3{
            font-size: 20px;
        }
    }
}

@media (max-width: 370px) {
    .container{
        >h3{
            font-size: 18px;
            overflow: hidden;
            text-wrap: nowrap;
            text-overflow: ellipsis;
        }
    }
}