
.container{
    display: flex;
    flex-direction: column;

    .mainSign{
        padding: 9px 21px;
        color: var(--blue);
        background-color: var(--dark-blue);
        width: fit-content;
        margin: 0 auto;
        border-radius: 100px;
    }

    .header{
        margin-top: 40px;
        text-align: center;
        
        .title{
            font-weight: 900;
            font-size: 40px;
            line-height: 100%;
            letter-spacing: -2%;
        }

        .sign{
            font-weight: 400;
            font-size: 24px;
            line-height: 100%;
            opacity: .7;
            width: 500px;
            max-width: 100%;
            margin: 15px auto 0 auto;
        }
    }

    .circle {
        position: absolute;
        z-index: -1;
        left: 50%;
        transform: translateX(-50%);
        opacity: .4;
        width: 767px;
        max-width: 100%;
        height: 248px;
        border-radius: 50%;
        background: conic-gradient(transparent 0deg 90deg, var(--blue) 90deg 360deg);    
        filter: blur(100px);
        margin-top: -75px;
    }

    .wrapper{
        margin-top: 60px;

        .steps{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 20px;
        }

        .items{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
            margin-top: 40px;
        }

        .title{
            font-size: 28px;
            font-weight: 600;
            line-height: 101%;
            letter-spacing: 0;
            color: #fff;
        }
    }
}   

@media (max-width: 800px) {
    .container{
        .wrapper{
            .steps{
                grid-template-columns: repeat(2, 1fr);
                gap: 15px;
            }

            .items{
                gap: 15px;
            }
        }
    }   
}

@media (max-width: 600px) {
    .container{

        .header{

            .title{
                font-size: 28px;
            }

            .sign{
                font-size: 20px;
                padding: 0 15px;
            }
        }
        
        .wrapper{
            .steps{
                grid-template-columns: repeat(1, 1fr);
                padding: 0 20px;
                gap: 20px;
            }

            .items{
                grid-template-columns: repeat(1, 1fr);
                padding: 0 20px;
                gap: 20px;
            }
            
            .title{
                font-size: 24px;
            }
        }
    }   
}

@media (max-width: 440px) {
    .container{
        .wrapper{
            .title{
                font-size: 22px;
            }
        }
    }   
}