

.container{
    display: flex;
    background-color: var(--dark-background);
    border-radius: 20px;
    padding: 20px;
    gap: 15px;
    
    .data{
        display: flex;
        justify-content: space-between;
        width: 100%;
        gap: 20px;

        .image{
            object-fit: cover;
            border-radius: 20px;
            min-width: 100px;
            min-height: 100px;
            height: 100px;
            width: 100px;
        }

        .inf{
            line-height: 118%;

            .sign{
                opacity: .6;
            }
            .name{
                font-size: 18px;
                font-weight: 800;
                margin-top: 5px;
            }
            .specialityName{
                margin-top: 8px;
                display: flex;
                color: var(--blue);
            }
        }
    }

    .button{
        display: flex;
        height: 46px;
        align-self: center;
        min-width: 230px;
    }
    .buttonMobile{
        display: none;
    }
}

@media (max-width: 750px) {
    .container{
        flex-direction: column;
        gap: 20px;

        .data{
            justify-content: start;
        }
        .button{
            display: flex;
            height: 46px;
            align-self: flex-start;
            min-width: 230px;
        }
    }
}

@media (max-width: 480px) {
    .container{
        flex-direction: column;
        gap: 20px;

        .data{
            gap: 15px;
            justify-content: start;
        }
        .button{
            display: none;
        }
        .buttonMobile{
            display: block;
            height: 46px;
            min-width: 100%;
        }
    }
}

@media (max-width: 440px) {
    .container{
        .data{
            .image{
                border-radius: 19px;
                min-width: 90px;
                min-height: 90px;
                height: 90px;
                width: 90px;
            }
            .inf{
                .sign{
                    font-size: 15px;
                }
                .name{
                    font-size: 17px;
                    margin-top: 7px;
                }
                .specialityName{
                    margin-top: 5px;
                    font-size: 15px;
                }
            }
        }
    }
}

@media (max-width: 400px) {
    .container{
        padding: 15px;

        .data{
            gap: 10px;

            .inf{
                line-height: 106%;
            }
        }
    }
}

@media (max-width: 390px) {
    .container{
        .data{
            .image{
                border-radius: 18px;
                min-width: 75px;
                min-height: 75px;
                height: 75px;
                width: 75px;
            }
            .inf{
                .sign{
                    font-size: 14px;
                }
                .name{
                    font-size: 16px;
                    margin-top: 5px;
                }
                .specialityName{
                    font-size: 14px;
                    margin-top: 3px;
                }
            }
        }
    }
}