


.mainTitle{
    margin-left: 32px;
    margin-right: 10px;

    .title{
        color: white;
        font-weight: 900;
        font-size: clamp(20px, 3.2vw, 41px);
        line-height: 100%;
        letter-spacing: 0;
    }

    .desc{
        font-size: clamp(12.5px, 1.4vw, 18px);
        opacity: 0.7;
        font-weight: 500;
    }

    &.freelancer{
        .title{
            font-size: clamp(18px, 2.4vw, 32px);
        }

        .desc{
            font-size: clamp(10px, 1.2vw, 16px);
            opacity: 0.7;
            font-weight: 500;
        }

    }
}

@media (max-width: 900px) {
    .mainTitle{
        margin: 0;

        .title{
            font-size: 5.2vw;
        }
        .desc{
            font-size: 2.2vw;
        }

        &.freelancer{
            .title{
                font-size: 3.6vw;
            }
            .desc{
                font-size: 2.1vw;
            }
        }
    }
}

@media (max-width: 650px) {
    .mainTitle{
        text-align: center;
        .title{
            margin-top: 40px;
            line-height: 110%;
            font-size: 8.4vw;
        }

        .desc{
            font-size: 3.9vw;
            line-height: 100%;
            font-weight: 400;
            width: 85%;
            margin: 14px auto 0 auto;
        }

        &.freelancer{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            text-align: center;

            .title{
                width: 90%;
                margin-top: 40px;
                line-height: 110%;
                font-size: 6.4vw;
            }
            .desc{
                font-size: 3.9vw;
                line-height: 100%;
                font-weight: 400;
                width: 85%;
                margin: 14px auto 0 auto;
            }
        }
    }
}

@media (max-width: 480px) {
    .mainTitle{

        .title{
            margin-top: 20px;
        }

        &.freelancer{
            .title{
                width: 100%;
                margin-top: 40px;
                line-height: 110%;
                font-size: 7.2vw;
            }
            .desc{
                font-size: 4.4vw;
                line-height: 100%;
                font-weight: 400;
                width: 85%;
                margin: 10px auto 0 auto;
            }
        }
    }
}

@media (max-width: 400px) {
    .mainTitle{
        .desc{
            width: 90%;
        }
    }
}