
.abs{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    top: 0;
    left: 0;
    z-index: 9;
}

.clinicLogoWrap{
    display: flex;
    align-items: center;
}

.container{
    font-weight: 400;
    font-size: 15px;
    line-height: 93%;
    letter-spacing: 0;

    .link{
        cursor: pointer;
    }
    
    .text{
        opacity: .78;
    }

    >span{
        display: block;
        margin-top: 6px;
        text-decoration: underline;
        color: var(--blue);
        transition: all .15s ease;

        &:hover{
            color: var(--blue-hover);
        }
    }
}