


.wrapper{

    .subtitle{
        display: block;
        font-weight: 600;
        line-height: 28px;
        margin-top: 16px;
    }

    .list{
        display: flex;
        width: 100%;
        flex-direction: column;
        list-style: none;
        gap: 4px;

        li{
            line-height: 20px;
        }
    }

}