
.containerMobile{
    display: none;
}

.container, .containerMobile{
    max-width: 100%;
    width: 100%;
    height: 170px;
    
    >svg{
        min-width: 100%;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

@media (max-width: 650px) {
    .container{
        display: none;
    }
    .containerMobile{
        display: block;
        margin-top: 30px;
        margin-bottom: 0;
    }
}