


.container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--dark-blue);
    border-radius: 18px;
    padding: 20px;
    border: 1px solid var(--blue);

    .header{
        overflow: hidden;
        width: 100%;
        text-align: center;
        font-weight: 800;
        font-size: 28px;
        line-height: 130%;
    }

    button{
        pointer-events: none;
    }
}

@media (max-width: 480px) {
    .container{
        .header{
            font-size: 6.1vw;
            opacity: 0.7;
        }
    }
}