
.myButton{
  cursor: pointer;
  width: 100%;
  height: 100%;
  padding: 10px 20px;
  border-radius: 8px;
  border: 2px solid var(--blue);
  background: var(--blue);
  transition: background-color 0.5s ease;
  color: white;
  font-size: 18px;

  &:hover{
    background: var(--dark-blue);
  }

  &.grayStyle{
    background-color: var(--dark-gray);
    border: 2px solid var(--dark-gray);
    color: #FFF;
    transition: background-color 0.5s ease;


    &:hover{
      background-color: transparent;
    }
  }
}
