
.myButton{
  cursor: pointer;
  width: 100%;
  padding: 10px 20px;
  border-radius: 8px;
  border: 2px solid var(--blue);
  background: var(--blue);
  transition: background-color 0.5s ease;
  color: white;

  &:hover{
    background: var(--dark-blue);
  }
}
