
.myButton{
  cursor: pointer;
  width: 100%;
  height: 100%;
  padding: 10px 20px;
  border-radius: 8px;
  border: 2px solid var(--blue);
  background: var(--blue);
  transition: background-color 0.5s ease;
  color: white;
  font-size: 18px;

  &:hover{
    background: var(--dark-blue);
  }

  &.turquoise{
    background: linear-gradient(90deg, #3FE9ED 0%, #29D6ED 60%, #0CCDD1 100%);
    color: #000;
    border: none;
    outline: 2px solid transparent;
    transition: outline 0.5s ease, opacity .5s ease;

    &:hover{
      outline: 2px solid var(--teal);
      opacity: .8;
    }
  }

  &.grayStyle{
    background-color: var(--dark-gray);
    border: 2px solid var(--dark-gray);
    color: #FFF;
    transition: background-color 0.5s ease;

    &:hover{
      background-color: transparent;
    }
  }
}

@media (max-width: 480px) {
    .myButton{
      font-size: 16px;
    }
}