



.socials{
    --gray-social: #79797940;
    min-width: 320px;
    width: 320px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding-left: 20px;
    border-left: 1px solid var(--gray-social);

    &.vip{
        border-left: 1px solid #2A435D;
    }

    .profiles{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .link{
        display: none;
        margin-top: 10px;
    }
}

@media (max-width: 1050px) {
    .socials{
        border-left: none;
        border-top: 1px solid var(--gray-social);
        width: 100%;
        padding-left: 0;
        padding-top: 20px;

        &.vip{
            border-left: none;
        }
    }

}

@media (max-width: 980px) {
    .socials{
        padding-left: 0;
        border-left: 0;
        padding-top: 20px;
        border-top: 1px solid var(--gray-social);

        .link{
            display: block;
            margin: 10px 0;
            width: 100%;
            height: 50px;
        }
    }
}

@media (max-width: 750px) {
    .socials{
        width: 100%;
        min-width: 0;
    }
}

@media (max-width: 480px) {
    .socials{
        font-size: 15px;
    }
}

@media (max-width: 400px) {
    .socials{
        font-size: 14px;
    }
}