

.container{
    width: 100%;
    padding: 20px;
    border-radius: 20px;
    background-color: var(--light-black);

    &.vip{
        background-image: url('../../lib/assets/doctorMiniature.png');
        background-repeat: no-repeat;
        background-size: cover;
        border: 1px solid rgba(45, 153, 252, .6);
    }

    .imageBox{
        position: relative;
        width: 100%;
        aspect-ratio: 1.5/1;
        border-radius: 16px;
        overflow: hidden;
    
        .avatar{
            width: 100%;
            height: 100%;
            object-position: 10% 10%;
            object-fit: cover;
        }
    
        .vipSvg{
            position: absolute;
            top: 10px;
            left: 10px;
        }
    }

    .content{

        .statuses{
            display: none;
        }
        
        .name{
            font-size: 24px;
            font-weight: 800;
            line-height: 110%;
            margin-top: 10px;
        }

        .city_specialities{
            display: flex;
            flex-direction: column;

            .city{
                margin-top: 20px;
                display: flex;
                gap: 5px;
                color: var(--text-gray);
            
                img{
                    margin-top: 1px;
                    width: 13px;
                    height: 16px;
                }
            }
            
            .specialities{
                display: flex;
                flex-wrap: wrap;
                column-gap: 10px;
                row-gap: 6px;
                margin-top: 20px;
            }
        }
        
        
        .theme{
            margin-top: 20px;
        
            .themeSign{
                font-weight: 600;
            }
        }

        .shortMessage{
            display: none;
        }
        
        .link{
            display: block;
            margin-top: 25px;
            height: 50px;
        }
    }
}

@media (max-width: 700px) {
    .container{
        padding: 15px;

        &.vip{
            background-image: none;
            background-color: #17293D;
        }

        .content{
            padding: 5px;
       
            .statuses{
                display: block;
                margin-top: 15px;
            }

            .name{
                margin-top: 15px;
            }

            .city_specialities{
                flex-direction: column-reverse;
            }

            .theme{
                display: none;
            }

            .shortMessage{
                display: block;
                margin-top: 20px;
            }

            .link{
                margin-top: 20px;
            }
        }

    }
}