
.socials{
    display: flex;
    align-items: center;
    gap: 5px;
    list-style: none;
    margin-right: 12px;

    .social{
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        background-color: var(--light-black);
        border-radius: 8px;
            
        img, svg{
            border-radius: 5px;
            object-fit:cover;
        }
    }

    &.miniature{
        .social{
            margin-right: -14px;
            padding: 3px;
        }
    }
}

// @media (max-width: 480px) {
//     .socials{
//         .social{
//             margin-right: -12px;
            
//             img, svg{
//                 width: 18px;
//                 height: 18px;
//             }
//         }

//         &.miniature{
//             .social{
//                 margin-right: -12px;
//             }
//         }
//     }
// }