/* Proxima Nova */
@font-face {
    font-family: 'Proxima Nova';
    src: url('../src/shared/fonts/Proxima Nova/Proxima Nova Thin.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../src/shared/fonts/Proxima Nova/Proxima Nova Thin Italic.otf') format('opentype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../src/shared/fonts/Proxima Nova/Proxima Nova Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../src/shared/fonts/Proxima Nova/Proxima Nova Light Italic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../src/shared/fonts/Proxima Nova/Proxima Nova Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../src/shared/fonts/Proxima Nova/Proxima Nova Regular Italic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {  // no 500
    font-family: 'Proxima Nova';
    src: url('../src/shared/fonts/Proxima Nova/Proxima Nova Semibold.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face { // no 500
    font-family: 'Proxima Nova';
    src: url('../src/shared/fonts/Proxima Nova/Proxima Nova Semibold Italic.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../src/shared/fonts/Proxima Nova/Proxima Nova Semibold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../src/shared/fonts/Proxima Nova/Proxima Nova Semibold Italic.otf') format('opentype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../src/shared/fonts/Proxima Nova/Proxima Nova Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../src/shared/fonts/Proxima Nova/Proxima Nova Bold Italic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../src/shared/fonts/Proxima Nova/Proxima Nova Extrabold.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../src/shared/fonts/Proxima Nova/Proxima Nova Extrabold Italic.otf') format('opentype');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../src/shared/fonts/Proxima Nova/Proxima Nova Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../src/shared/fonts/Proxima Nova/Proxima Nova Black Italic.otf') format('opentype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}
