html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

button{
  font-size: 16px;
  font-family: 'Proxima Nova', 'sans-serif';
  font-weight: 400;
  
}

body {

  --blue: #2F9BFF;
  --dark-blue: #01284B;

  --black: #0E0F0F;
  --dark-gray: #404040;
  --sign-gray: #606060;
  --gray: #ffffff80;

  --light-black: #1E1E1E;


  --filter-background: #161616;

  --time-input: .15s;

  font-family: 'Proxima Nova', 'sans-serif';
  font-weight: 400;
  color: #FFFFFF;


  background-color: var(--black);

  

}

.wrapper_main{
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Proxima Nova', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

h4{
  font-size: 20px;
}

h5{
  font-size: 18px;
}

p{
  font-size: 16px;
}