html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {

  --blue: #2F9BFF;
  --dark-blue: #01284B;

  --black: #0E0F0F;


  background-color: var(--black);

}

.wrapper_main{
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
