

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 40px;
    min-height: 40px;
    width: 40px;
    height: 40px;
    background-color: var(--red-dark);
    border-radius: 10px;
}