


.wrapper{
    display: flex;
    width: 100%;
    flex-direction: row;
    border-radius: 20px;
    background: var(--light-black);
    gap: 20px;
    padding: 20px;
    overflow: hidden;

    .avatar{
        position: relative;
        object-position: 10% 10%;
        min-width: 300px;
        min-height: 300px;
        width: 300px;
        height: 300px;
        object-fit: cover;
        border-radius: 14px;
    }

    .content{
        display: flex;
        justify-content: space-between;
        width: 100%;
        gap: 10px;
    }
}

@media (max-width: 980px) {
    .wrapper{
        .content{
            flex-direction: column;
        }
    }
}

@media (max-width: 750px) {
    .wrapper{
        .avatar{
            min-width: 260px;
            min-height: 260px;
            width: 260px;
            height: 260px;
        }
    }
}

@media (max-width: 650px) {
    .wrapper{
        .avatar{
            min-width: 240px;
            min-height: 240px;
            width: 240px;
            height: 240px;
        }
    }
}

@media (max-width: 550px) {
    .wrapper{
        flex-direction: column;
        padding: 20px 16px;

        .avatar{
            min-height: 0;
            min-width: 0;
            width: 100%;
            height: 100%;
        }
    }
}

@media (max-width: 480px) {
    .wrapper{
        .avatar{
            aspect-ratio: 5/3;
        }
    }
}