


.menu{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 80px;
    width: 440px;
    background-color: rgba(26, 26, 26, 1);
    padding: 40px 30px;
    right: 0;
    z-index: 999;
    top: 0;
    height: 100%;

    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;

        span{
            font-size: 32px;
            font-weight: 700;
        }
    }

    .list{
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 0 40px 0 0;
        margin: 40px 0 0 0;
        list-style: none;

        li{
            font-size: 20px;
            color: #FFFFFF;
            // font-weight: 600;
            line-height: 110%;

            transition: color .15s ease;

            &:hover{
                color: var(--blue);
            }
        }
    }

    .placement{
        bottom: 0;
    }
}

@media (max-width: 900px) {
    .menu{
        padding: 20px;
        overflow: auto;
        .header{
            margin: 12.5px 6px 20px 0;
        }
        .placement{
            margin-bottom: 30px;
        }
    }
}

@media (max-width: 650px) {
    .menu{
        width: 100%;
    }
}


@media (max-width: 400px) {
    .menu{
        .list{
            li{
                font-size: 18px;
            }
        }
    }
}

@media (max-width: 350px) {
    .menu{
      .header{
        margin: 11.5px 1px 20px 0;
      }
      .list{
        padding: 0;
      }
    }
}