
.socials{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    list-style: none;

    .social{
        display: flex;
        align-items: center;
        width: fit-content;
        gap: 10px;
        position: relative;
        background-color: #2F2F2F;
        border-radius: 12px;
        padding: 7px 16px 7px 7px;
        font-weight: 600;
        line-height: 130%;
        color: var(--blue);
        cursor: pointer;
        transition: all .15s ease;

        &:hover{
            background-color: #363636;
        }
            
        img, svg{
            border-radius: 5px;
            object-fit: cover;
            width: 26px;
            height: 26px;
        }
    }

    &.offer{
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        .social{
            width: 100%;
        }
    }
}

@media (max-width: 480px) {
    .socials{
        &.offer{
            display: flex;
            flex-wrap: wrap;
            .social{
                width: fit-content;
                max-width: 100%;
            }
        }

        .social{
            width: fit-content;
            max-width: 100%;
        }
    }
}

@media (max-width: 360px) {
    .socials{
        &.offer{
            .social{
                width: 100%;
            }
        }

        .social{
            width: 100%;
        }
    }
}