
.container{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  background-color: #383838;
  padding: 15px 15px 30px 15px;
  border-radius: 20px;

  .header{
    display: flex;
    flex-direction: column;
    gap: 20px;

    .image{
      display: flex;
      position: relative;

      .avatar{
        object-position: 10% 10%;
        object-fit: cover;
        position: relative;
        width: 100%;
        height: auto;
        aspect-ratio: 1.6 / 1;
        border-radius: 14px;
      }
    }

    .name{
      font-weight: 600;
      line-height: 20px;
      font-size: 20px;
      padding: 0 5px;
      color: #FFF;
      overflow: hidden;
    }
  }

  .infoWrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #aeaeae;
    padding: 0 5px;
    height: 100%;
  }

  .speciality{
    color: var(--blue);
    line-height: 115%;
  }

  .city{
    display: flex;
    gap: 4px;
    margin-top: 10px;
    line-height: 115%;
      
    img{
      margin-top: 2px;
      width: 11px;
      height: 13px;
    }
  }

  .buttonsWrapper{
    width: 100%;
    display: flex;
    flex-direction: column;

    .link{
      width: 100%;
      margin-top: 30px;
      text-align: center;
      font-size: 16px;
    }
  }
}

@media (max-width: 490px) {
  .container{
    padding: 2vw;
    gap: 2vw;
    border-radius: 1.5vw;

    --textSize: 3.3vw;
    --NameSize: 3.6vw;

    font-size: var(--textSize);
    .header{
      gap: 2vw;
      .image{
        .avatar{
          border-radius: 1.2vw;
        }
      }
      .name{
        font-size: var(--NameSize);
        line-height: 110%;
        padding: 0 1vw;
      }
    }
    .infoWrapper{
      padding: 0 1vw;
    }
    .speciality{
      font-size: var(--textSize);
    }
    .city{
      margin-top: 2vw;
      img{
        margin-top: 0.3vw;
        width: 1.8vw;
        height: 2.1vw;
      }
    }
    .buttonsWrapper{
      width: calc(100% + 2vw);
      margin-left: -1vw;
      .link{
        margin-top: 4vw;

        a{
          display: flex;
          align-items: center;
          height: 100%;

        }

        .textButton{
          font-size: var(--textSize);
        }
      }
    }
  }
}

@media (max-width: 400px) {
  .container{
    .header{
      .name{
        font-weight: 800;
      }
    }
  }
}