



.page{
    min-height: 100vh;
    
    .share{
        width: fit-content;
        margin-top: 40px;
    }

    .blogsTop{
        margin-top: 70px;

        .other{
            font-size: 40px;
            font-weight: 900;
            text-align: center;
        }
    }
}