

.page{
    min-height: 100vh;
    
    .share{
        width: fit-content;
        margin-top: 40px;
    }

    .main{
        width: 770px;
        max-width: 100%;
        margin: 0 auto;
    }

    .blogsTop{
        margin-top: 70px;

        .other{
            font-size: 40px;
            font-weight: 900;
            text-align: center;
        }
    }
}

@media (max-width: 480px) {
    .page{
        .blogsTop{
            .other{
                font-size: 28px;
            }
        }
    }
}

@media (max-width: 390px) {
    .page{
        .blogsTop{
            .other{
                font-size: 24px;
            }
        }
    }
}