

.page{
    min-height: 100vh;
    
    .main{
        display: flex;
        flex-direction: column;
        gap: 30px;
        width: 770px;
        max-width: 100%;
        margin: 30px auto 0 auto;
        border-radius: 20px;
        background: #2A2A2A;
        padding: 35px;
    }

    .blogsTop{
        margin-top: 70px;

        .other{
            font-size: 40px;
            font-weight: 900;
            text-align: center;
        }
    }
}

@media (max-width: 480px) {
    .page{
        .main{
            padding: 20px;
        }
        .blogsTop{
            .other{
                font-size: 28px;
            }
        }
    }
}

@media (max-width: 390px) {
    .page{
        .blogsTop{
            .other{
                font-size: 24px;
            }
        }
    }
}