



.page{
    min-height: 100vh;

    .blogsTop{
        margin-top: 70px;

        .other{
            font-size: 40px;
            font-weight: 900;
            text-align: center;
        }
    }
}