

.page {
    min-height: 100vh;

    .filter{
        display: flex;
        align-items: center;
        margin-top: 50px;
        min-height: 40px;

        .loaderFilter {
            height: 40px;
            width: 60%;
        }
    }

    .loaderBlogs {
        width: 100%;
        height: 400px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    h1 {
        margin-top: 40px;
        font-size: 40px;
        font-weight: 800;
        line-height: 101%;
    }

    .sign{
        font-size: 20px;
        margin-top: 16px;

        a{
            color: var(--blue);
            transition: all .15s ease;

            &:hover{
                color: var(--blue-hover);
            }
        }
    }
}

@media (max-width: 480px) {
    .page{
        .filter{
            margin-top: 40px;
        }
    }
}