


.miniatures{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 30px;
}

@media (max-width: 800px) {
    .miniatures{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .miniatures{
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }
}
