


.container{
    display: flex;
    flex-direction: column;
    height: 100%;

    >.title{
        font-size: 16px;
        margin-bottom: 10px;
    }

    .button{
        width: max-content;
        height: max-content;
        cursor: pointer;
        img {
            display: flex;
            height: 25px;
            width: 25px;
            object-fit: contain;
        }
    }

    .list{
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 10px;
        height: 100%;

        .title{
            display: grid;
            grid-template-columns: 1fr 1fr 20px;
            gap: 10px;
            font-size: 14px;
            margin-bottom: -9px;
            .text{
                opacity: 0.5;
            }
            .amount{
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
        }
        .item{
            display: grid;
            grid-template-columns: 1fr 1fr 20px;
            gap: 10px;

            .delete{
                display: flex;
                height: 100%;
                align-items: center;
            }
        }
    }

    .errorText{
        color: #ff4141;
        font-size: 14px;
        margin-top: 4px;
    }
}