

.item{
    background-color: var(--light-black);
    border-radius: 30px;
    border: 1px solid var(--dark-gray);
    padding: 25px 25px 40px 25px;
    transition: all .25s ease;

    &:hover{
        border: 1px solid var(--blue);
    }

    .header{
        display: flex;
        align-items: center;
        gap: 15px;
        line-height: 130%;
        letter-spacing: 0;
        color: rgba(255, 255, 255, 0.9);
    }

    .data{
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 20px;

        .text{
            color: rgba(255, 255, 255, 0.9);
            line-height: 130%;
            letter-spacing: 0;
            padding-right: 25px;
        }
    }
}

@media (max-width: 900px) {
    .item{
        .data{
            .text{
                padding-right: 0;
            }
        }
    }
}

@media (max-width: 600px) {
    .item{
        padding: 25px;

        .header{
            gap: 10px;
        }

        .data{
            gap: 15px;
            margin-top: 15px;
        }
    }
}