

.searchFilter{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    background-color: #222;
    padding: 6px 15px;
    border-radius: 10px;
    font-size: 16px;

    svg{
        width: 15px;
    }

    input{
        color: #FFF;
        background-color: #222;
        border: none;
        outline: none;
        width: 100%;
    }
}