


.container{
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 100%;
  overflow: hidden;
  min-height: 100vh;
  align-content: start;

  .loader{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 400px;
  }
}


@media (max-width: 1100px) {
  .container{
    grid-template-columns: repeat(2, 1fr);
  }
}


@media (max-width: 830px) {
  .container{
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 650px) {
  .container{
    column-gap: 16px;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 510px) {
  .container{
    grid-template-columns: repeat(1, 1fr);
  }
}