

.container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
  background-color: var(--light-black);
  padding: 15px 15px 30px 15px;
  border-radius: 20px;
  position: relative;

  &.vip{
    background-image: url('../../lib/assets/VipCardBackground.svg');
    background-repeat: no-repeat;
    background-size: cover;

    &::before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      
      margin: -1px; // Толщина рамки = 2px
      
      border-radius: 21px; // = радиус родителя + толщина рамки
      
      background: linear-gradient(180deg, 
        rgba(22, 239, 243, 0.7) 0%,   
        rgba(22, 239, 243, 0.5) 50%,  
        rgba(22, 239, 243, 0.7) 100% 
      );
      
      z-index: -1;
    }

    .infoWrapper{
      color: #fff;
    }
  }

  .header{
    display: flex;
    flex-direction: column;
    gap: 10px;

    .imageBox{
      position: relative;
      aspect-ratio: 1.6 / 1;
      border-radius: 14px;
      overflow: hidden;

      .avatar{
        object-position: 10% 10%;
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
  
      .vipSvg{
        position: absolute;
        top: 10px;
        left: 10px;
      }
    }

    .name{
      font-weight: 600;
      line-height: 20px;
      font-size: 20px;
      padding: 0 5px;
      color: #FFF;

      a{
        line-height: 20px;
        display: flex;
        flex-wrap: wrap;
      }
    }
  }

  .infoWrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #aeaeae;
    padding: 0 5px;
    height: 100%;

    .buttonsWrapper{
      width: 100%;
      display: flex;
      justify-content: end;
      flex-direction: column;
      margin-top: 30px;
      gap: 10px;

      .link{
        margin-top: 10px;
      }
    }
  }
}

@media (max-width: 480px) {
  .container{
    .infoWrapper{
      .info{
        .city{
          align-items: start;
          margin-top: 10px;
        }
      }

      .buttonsWrapper{
        margin-top: 20px;

        .link{
          height: 50px;
        }
      }
    }
  }
}

@media (max-width: 400px) {
  .container{
    .header{
      .name{
        font-size: 18px;
        font-weight: 800;
      }
    }
  }
}