

.container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
  background-color: var(--light-black);
  padding: 15px 15px 30px 15px;
  border-radius: 20px;

  .header{
    display: flex;
    flex-direction: column;
    gap: 20px;

    .avatar{
      object-position: 10% 10%;
      object-fit: cover;
      position: relative;
      width: 100%;
      height: auto;
      aspect-ratio: 1.6 / 1;
      border-radius: 14px;
    }
    .name{
      font-weight: 600;
      line-height: 20px;
      font-size: 20px;
      padding: 0 5px;
      color: #FFF;

      a{
        line-height: 20px;
        display: flex;
        flex-wrap: wrap;
      }
    }
  }

  .infoWrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #aeaeae;
    padding: 0 5px;
    height: 100%;

    .info{

      .speciality{
        color: var(--blue);
        line-height: 115%;
      }

      .city{
        display: flex;
        gap: 4px;
        margin-top: 10px;
        line-height: 115%;
          
        img{
          margin-top: 2px;
          object-fit: contain;
          width: 11px;
          height: 13px;
        }
      }
    }

    .buttonsWrapper{
      width: 100%;
      display: flex;
      flex-direction: column;
      margin-top: 30px;
      gap: 20px;

      .subscribersWrapper {
        display: flex;
        flex-direction: column;
        gap: 5px;
      }

      .link{
        width: 100%;
        text-align: center;
        font-size: 16px;
      }
    }
  }
}

@media (max-width: 480px) {
  .container{

    .infoWrapper{

      .info{
        .city{
          align-items: start;
          margin-top: 10px;
        }
      }

      .buttonsWrapper{
        margin-top: 20px;
        gap: 20px;

        .link{
          height: 50px;
        }
      }
    }
  }
}

@media (max-width: 400px) {
  .container{
    .header{
      .name{
        font-size: 18px;
        font-weight: 800;
      }
    }
  }
}