

.wrapper {
  position: absolute;
  margin-top: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  top: 0;

  .darken {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
  }
}