


.city{
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    margin-top: 10px;
    line-height: 115%;
          
    &.vip{
        svg{
            fill: var(--turquoise);
        }
    }

    svg{
        fill: var(--blue);
        margin-top: 2px;
    }
}