


.container{
    display: flex;
    gap: 12px;

    .imageBox{
        position: relative;
        width: 56px;
        height: 56px;
        min-width: 56px;
        overflow: hidden;
        border-radius: 10px;

        .image{
            object-fit: cover;
            height: 72px;
            width: 72px;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    .inf{
        .sign{
            font-size: 14px;
            line-height: 106%;
            letter-spacing: -2%;
            color: rgba(255, 255, 255, 0.6);
        }
        
        .name{
            color: var(--blue);
            font-weight: 600;
            font-size: 15px;
            line-height: 106%;
            letter-spacing: -2%;
            margin-top: 6px;
        }

        .specialtyName{
            font-size: 15px;
            line-height: 100%;
            margin-top: 5px;
            letter-spacing: 0%;
        }
    }
}