


.message{
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    width: 400px;
    height: 150px;
    background-color: #1A1A1A;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .icon{
        font-size: 26px;
    }

    .messageTitle{
        margin-top: 10px;
        font-size: 24px;
        font-weight: 800;
    }

    .messageSign{
        margin-top: 6px;
        font-size: 18px;
        font-weight: 500;
        color: var(--blue);
    }

    .close{
        position: absolute;
        right: 20px;
        top: 20px;
        cursor: pointer;
    }
}

@media (max-width: 480px) {
    
    .message{
        width: 100%;
        height: 100%;
        background-color: transparent;
        border-radius: 20px;

        .icon{
            font-size: 26px;
        }

        .messageTitle{
            margin-top: 10px;
            font-size: 24px;
            font-weight: 800;
        }

        .messageSign{
            margin-top: 6px;
            font-size: 18px;
            font-weight: 500;
            color: var(--blue);
        }

    }
}

@media (max-width: 390px) {
    
    .message{

        .icon{
            font-size: 6.6vw;
        }

        .messageTitle{
            font-size: 6vw;
        }

        .messageSign{
            font-size: 4.5vw;
        }

    }
}