


.page{
    --text-gray: #aeaeae;
    min-height: 100vh;
    margin-bottom: 300px;

    .main{
        min-height: calc(100vh - 75px);

        .loader{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 300px;
        }
    }
}

@media (max-width: 490px) {
    .page{
        padding: 0;
    }
}