

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 20px;
    background: var(--light-black);
    padding: 20px;
    overflow: hidden;
    justify-content: center;
    gap: 20px;

    .desctop{
        display: block;
    }

    .mobile{
        display: none;
    }
}

@media (max-width: 550px) {
    .container{
        .desctop{
            display: none;
        }
        .mobile{
            display: block;
        }
    }
}

@media (max-width: 490px) {
    .container{
        padding: 20px 16px;
    }
}