

.list{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 10px;
    font-size: 16px;

    .item{
        border-radius: 8px;
        padding: 10px 18px;
        cursor: pointer;
    }

    &.miniature{
        gap: 6px;
        font-size: 14px;

        .item{
            border-radius: 6px;
            padding: 6px 10px;
        }
    }
}

@media (max-width: 480px) {
    .list{
        gap: 8px;
        font-size: 15px;

        .item{
            padding: 8px 16px;
        }
    }   
}