

.list{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 10px;
    font-size: 16px;

    .item{
        border-radius: 8px;
        .link{
            display: block;
            padding: 10px 18px;
        }
    }

    &.miniature{
        gap: 6px;
        font-size: 14px;

        .item{
            border-radius: 6px;
            .link{
                padding: 6px 10px;
            }
        }
    }
}

@media (max-width: 480px) {
    .list{
        gap: 8px;
        font-size: 15px;

        .item{
            .link{
                padding: 8px 16px;
            } 
        }
    }   
}