

.list{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 10px;
    font-size: 16px;

    .item{
        border-radius: 8px;
        padding: 10px 18px;
    }
}

@media (max-width: 480px) {
    .list{
        gap: 8px;
        font-size: 15px;

        .item{ 
            padding: 8px 16px;
        }
    }   
}