

.container {
    position: relative;
    isolation: isolate;
    background-color: var(--light-black);
    border: 1px solid var(--dark-gray);
    border-radius: 30px;
    padding: 30px;
    overflow: hidden;

    --text-color-offer: rgba(255, 255, 255, .6);

    &::after{
        content: '';
        position: absolute;
        inset: 0;
        border-radius: inherit;
        background-color: rgba(0, 0, 0, .15);
        opacity: 0;
        z-index: 11;
        pointer-events: none;
        transition: opacity .15s ease;
    }

    @media (hover) {
        &:hover{
            &::after{
                opacity: 1;
            }
        }
    }

    .description{
        color: var(--text-color-offer);
        line-height: 122%;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        line-clamp: 3;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .socials{
        display: flex;
        align-items: center;
        gap: 12px;
        margin: 16px 0;
    }

    .footer{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 16px;

        .left{
            display: flex;
            flex-wrap: wrap;
            gap: 6px;
        }
    }    
}

@media (max-width: 480px) {
    .container{
        padding: 20px;

        .description{
            -webkit-line-clamp: 4;
            line-clamp: 4;
        }
    }
}