


.container{
    display: flex;
    flex-direction: column;

    .mainSign{
        padding: 9px 21px;
        color: var(--blue);
        background-color: var(--dark-blue);
        width: fit-content;
        margin: 60px auto 0 auto;
        border-radius: 100px;
    }

    .header{
        margin-top: 40px;
        text-align: center;

        h1{
            font-weight: 900;
            font-size: 40px;
            line-height: 100%;
            letter-spacing: -2%;
        }

        h2{
            font-weight: 400;
            font-size: 18px;
            line-height: 150%;
            opacity: .7;
            margin-top: 15px;
        }
    }

    .circle {
        position: absolute;
        z-index: -1;
        left: 50%;
        transform: translateX(-50%);
        opacity: .4;
        width: 767px;
        max-width: 100%;
        height: 248px;
        border-radius: 50%;
        background: conic-gradient(transparent 0deg 90deg, var(--blue) 90deg 360deg);    
        filter: blur(100px);
        margin-top: -75px;
    }

    .titleWidget{
        display: flex;
        align-items: center;
        gap: 20px;
        font-size: 28px;
        font-weight: 600;
        line-height: 101%;
    }

    .items{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        list-style: none;
        margin-top: 30px;

        .item{
            display: flex;
            gap: 15px;
            align-items: center;
            font-size: 16px;
            font-weight: 400;
            line-height: 130%;
            padding: 15px;
            color: rgba(255, 255, 255, .9);
            border: 1px solid #4A2229;
            border-radius: 15px;
            transition: all .25s ease;

            &:hover{
                border: 1px solid #801F2E;
            }

            &.green{
                border: 1px solid #1A3A2A;

                &:hover{
                    border: 1px solid #105832;
                }
            }
        }
    }
    
    .noPosts, .requirements{
        padding: 30px;
        width: 100%;
        border-radius: 30px;
    }   

    .noPosts{
        background-color: var(--red-background);
        border: 1px solid #4A2229;
        margin-top: 80px;
    }

    .requirements{
        background-color: var(--green-background);
        border: 1px solid #1A3A2A;
        margin-top: 40px;
    }

    .join{
        display: flex;
        background-color: var(--light-black);
        border: 1px solid var(--dark-gray);
        position: relative;
        // overflow: hidden;
        margin-top: 40px;
        border-radius: 30px;
        overflow: hidden;
        padding: 70px 40px;

        .data{
            position: relative;
            z-index: 11;
            width: 580px;
            max-width: 100%;

            .title{
                font-size: 40px;
                font-weight: 900;
            }

            .sign{
                font-weight: 400;
                font-size: 18px;
                line-height: 150%;
                opacity: .7;
                margin-top: 20px;
                width: 400px;
                max-width: 100%;
            }

            .button{
                margin-top: 40px;
                width: 240px;
                height: 46px;

                .buttonContent{
                    display: flex;
                    gap: 10px;
                    align-items: center;                    
                    justify-content: center;
                }
            }
        }

        .banner{
            position: absolute;
            width: 580px;
            height: 100%;
            right: 0;
            top: 0;

            >img{
                position: absolute;
            }

            .cards{
                z-index: 2;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
            }

            .phoneWrap{
                position: absolute;
                z-index: 3;
                left: 220px;
                top: 10px;

                .phoneBlur{
                    position: absolute;
                    left: 40px;
                    top: 30px;
                    width: 187px;
                    height: 283px;
                    filter: blur(60px);
                    
                    z-index: 3;

                    .blur{
                        width: 100%;
                        height: 100%;
                        background: #75BCFF;

                        clip-path: polygon(
                            18px 0,                    /* верхняя левая точка (сдвиг от левого края) */
                            18px 0,       /* верхняя правая точка */
                            calc(100% - 42px) 6px,                 /* правая верхняя точка */
                            100% calc(100% - 37px),    /* правая нижняя точка */
                            calc(100% - 13px) calc(100% - 18px),    /* нижняя правая точка */
                            54px calc(100% - 7px),                 /* нижняя левая точка */
                            38px calc(100% - 15px),       /* левая нижняя точка */
                            0 16px                     /* левая верхняя точка */
                        );
                    }
                }

                .phone{
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    z-index: 3;
                    object-fit: cover;
                }
            }

            .circleJoin, .circleJoinBlue{
                position: absolute;
                z-index: 1;
                left: 50%;
                transform: rotate(144deg);
                left: 0%;
                opacity: .1;
                width: 921px;
                height: 878px;
                border-radius: 50%;
                background: conic-gradient(transparent 0deg 90deg, #08253F 90deg 360deg);    
                filter: blur(140px);
                top: -40px;
            }

            .circleJoinBlue{
                background: conic-gradient(transparent 0deg 90deg, var(--blue) 90deg 360deg);    
                opacity: .22;
            }
        }

    }

}   

@media (max-width: 980px) {
    .container{
        .join{
            flex-direction: column;

            .data{
                width: 100%;
                .title{
                    font-size: 32px;
                    text-align: center;
                }

                .sign{
                    font-size: 17px;
                    width: 100%;
                    text-align: center;
                    max-width: 100%;
                }

                .button{
                    width: 320px;
                    max-width: 100%;
                    margin: 60px auto 0 auto;
                }
            }

            .banner{
                position: relative;
                height: 400px;
                margin-top: 20px;
                top: 80px;
                width: 100%;

                .cards{
                    min-width: 100%;
                    width: 600px;
                    aspect-ratio: 1.4/1;
                    height: auto;
                }

                .phoneWrap{
                    position: relative;
                    left: 0;

                    .phone{
                        left: calc(50% + 20px);
                        transform: translateX(-50%);
                    }

                    .phoneBlur{
                        left: calc(50% + 5px);
                        transform: translateX(-50%);
                    }
                }
            }
        }
    }
}

@media (max-width: 650px) {
    .container{
        .header{

            h1{
                font-size: 36px;
            }

            h2{
                font-size: 17px;
                padding: 0 4vw;
            }
        }

        .titleWidget{
            gap: 15px;
            font-size: 24px;
        }

        .items{
            gap: 15px;

            .item{
                gap: 12px;
                font-size: 15px;
                line-height: 125%;
                padding: 12px;
                min-width: 100%;
            }
        }
        
        .noPosts, .requirements{
            padding: 20px;
        }   
        
        .join{
            padding: 40px 30px;
        }
    }
}