.page{
  display: flex;
  gap: 20px;
  min-height: 100vh;

  .aside{
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-width: 280px;
    width: 280px;

    .button{
      height: min-content;
      height: 55px;

      .doctorsLink{
        font-size: 17px;
      }
    }
  }

  .main{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }
}

@media (max-width: 650px) {
  .page{
    flex-direction: column;

    .aside{
      width: 100%;
      min-width: 0;
    }
  }
}

@media (max-width: 480px) {
  .page{
    .aside .filters{
      display: none;
    }
  }
}