


.container{

    margin-top: 30px;

    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        .date{
            color: var(--blue);
        }
    }

    .content{
        margin-top: 20px;

        h1{
            margin-bottom: 40px;
            font-size: 32px;
        }

        img{
            max-width: 100%;
        }
    
        p, h2, h3, ul, ol {
            min-height: 1em;
            font-size: 1.2rem;
            margin: 15px 0;
            white-space: pre-wrap;
        }
    
        h2{
            font-size: 1.6rem;
            margin: 15px 0;
        }
        
        h3{
            font-size: 1.4rem;
            margin: 15px 0;
        }
    
        figure{
            margin: 30px 0;
            
            img{
                display: block;
                margin: 0 auto;
            }
        }
        
        figcaption{
            min-height: 1.5em;
            font-size: 0.8rem;
            margin-top: 4px;
            color: #676767;
            text-align: center;
            outline: none;
        }
    
        ul, ol{
            padding-left: 30px;
    
            li{
                min-height: 1.5em;
            }
        }
    }

}