

.container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 16px;

    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        .date{
            color: var(--blue);
        }
    }

    .content{

        a {
            text-decoration: underline;
            color: var(--blue);
            transition: all .15s ease;
            cursor: pointer;
        }

        a:hover{
            color: var(--blue-hover);
        }

        h1{
            margin-bottom: 20px;
            font-size: 40px;
            line-height: 101%;
            font-weight: 600;
            opacity: .9;
        }

        p, ul, ol, blockquote{
            font-weight: 300;
        }

        p, h2, h3, ul, ol, blockquote {
            font-size: 18px;
            margin: 15px 0;
            line-height: 160%;
            white-space: pre-wrap;
            opacity: .9;
        }

        h2, h3{
            margin: 30px 0 15px 0;
            font-weight: 600;
        }
        
        h2{
            font-size: 22px;
        }
            
        h3{
            font-size: 20px;
        }

        hr{
            background: #5e5e5e;
            border: none;
            outline: none;
            height: 2px;
            width: 100%;
            margin: 30px 0;
        }

        figure{
            margin: 20px 0;
            
            img{
                display: inline-block;
                border-radius: 12px;
            }
        }

        figcaption{
            font-size: 0.8rem;
            margin-top: 4px;
            color: #676767;
            text-align: center;
            outline: none;
        }
        
        blockquote{
            position: relative;
            opacity: .7;
            padding-left: 16px;

            &::before{
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                background-color: #fff;
                border-radius: 2px;
                width: 2px;
            }
        }
        
        img{
            max-width: 100%;
        }

        ul, ol{
            padding-left: 30px;

            li{
                padding: 3px 0;
            }
        }
    }
}

@media (max-width: 480px) {
    .container{

        .header{
            .share{
                display: none;
            }
        }

        .content{

            h1{
                font-size: 24px;
            }   

            p, h2, h3, ul, ol {
                font-size: 16px;
            }
    
            h2{
                font-size: 20px;
            }
            
            h3{
                font-size: 18px;
            }
        }
    }
}

@media (max-width: 390px) {
    .container{
        .content{
            h1{
                font-size: 20px;
            }   

            p, h2, h3, ul, ol {
                font-size: 15px;
            }
    
            h2{
                font-size: 18px;
            }
            
            h3{
                font-size: 16px;
            }
        }
    }
}
