


.container{
    margin-top: 30px;
    font-size: 16px;

    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        .date{
            color: var(--blue);
        }
    }

    .content{
        margin-top: 30px;

        a {
            text-decoration: underline;
            color: var(--blue);
            transition: all .15s ease;
            cursor: pointer;
        }

        a:hover{
            color: var(--blue-hover);
        }

        h1{
            margin-bottom: 20px;
            font-size: 40px;
            line-height: 101%;
            font-weight: 600;
        }

        img{
            max-width: 100%;
        }
    
        p, h2, h3, ul, ol {
            min-height: 1em;
            font-size: 18px;
            margin: 15px 0;
            white-space: pre-wrap;
            line-height: 118%;
        }
    
        h2{
            font-size: 22px;
        }
        
        h3{
            font-size: 20px;
        }
    
        figure{
            margin: 20px 0;
            
            img{
                display: block;
                margin: 0 auto;
            }
        }
        
        figcaption{
            font-size: 0.8rem;
            margin-top: 4px;
            color: #676767;
            text-align: center;
            outline: none;
        }
    
        ul, ol{
            padding-left: 30px;
    
            li{
                min-height: 1.5em;
                padding: 3px 0;
            }
        }
    }
}

@media (max-width: 480px) {
    .container{

        .header{
            .share{
                display: none;
            }
        }

        .content{

            h1{
                font-size: 24px;
            }   

            p, h2, h3, ul, ol {
                font-size: 16px;
            }
    
            h2{
                font-size: 20px;
            }
            
            h3{
                font-size: 18px;
            }
        }
    }
}

@media (max-width: 390px) {
    .container{
        .content{
            h1{
                font-size: 20px;
            }   

            p, h2, h3, ul, ol {
                font-size: 15px;
            }
    
            h2{
                font-size: 18px;
            }
            
            h3{
                font-size: 16px;
            }
        }
    }
}