



.page{
  display: flex;
  gap: 20px;
  min-height: 100vh;

  .aside{
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-width: 280px;
    width: 280px;

    .button{
      height: min-content;
      height: 55px;

      .helpersLink{
        font-size: 17px;
      }
    }
  }

  .main{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;


    .blogsTop{
      display: flex;
      flex-direction: column;
      margin-top: 120px;

      h2{
          text-align: center;
          font-size: 28px;
          font-weight: 700;
      }
    }
  }
}

@media (max-width: 650px) {
  .page{
    flex-direction: column;

    .aside{
      width: 100%;
      min-width: 0;
    }
  }
}

@media (max-width: 480px) {
  .page{
    .aside .filters{
      display: none;
    }
  }
}