



.page{
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-height: 100vh;

  .content{
    display: grid;
    grid-template-columns: 280px 1fr;
    gap: 20px;
  }

  .aside{
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-width: 280px;
    width: 280px;
    height: calc(100% - 50px);

    .button{
      display: block;
      height: min-content;
      height: 55px;
      min-height: 55px;
      
      .helpersLink{
        font-size: 17px;
      }
    }

    .filters{
      height: 100%;
    }
  }

  .main{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }

  .blogsTop{
    display: flex;
    flex-direction: column;
    margin-top: 120px;

    h2{
      font-size: 40px;
      font-weight: 900;
    }

    .sign{
        font-size: 20px;
        margin-top: 16px;

        a{
            color: var(--blue);
            transition: all .15s ease;

            &:hover{
                color: var(--blue-hover);
            }
        }
    }
  }
}

@media (max-width: 650px) {
  .page{

    .content{
      grid-template-columns: 1fr;
    }

    .aside{
      width: 100%;
      min-width: 0;
    }
  }
}

@media (max-width: 480px) {
  .page{
    .aside .filters{
      display: none;
    }
    .blogsTop{
      margin-top: 70px;
      
      h2{
        text-align: center;
        font-size: 22px;
      }

      .sign{
        text-align: center;
        font-size: 17px;
        margin-top: 12px;
      }
    }
  }
}