.page {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .main {
        display: flex;
        flex-direction: column;
        gap: 40px;
        width: 100%;
        margin-top: 40px;
    }

    .title {
        font-size: 32px;
        font-weight: 800;
        text-align: center;

        @media (max-width: 768px) {
            font-size: 24px;
        }
    }
}
