


.subscriberLinkWrapper{
  position: relative;
  
  &:hover{
    .subscriberLink{
      svg{
        fill: #b6b6b6;
      }
    }
  }
  
  .subscriberLink{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    column-gap: 4px;
    width: 100%;
    background: var(--dark-gray);
    color: white;
    border-radius: 8px;
    padding: 10px;

    >img{
      width: 30px;
      height: 30px;
      object-fit: contain;
    }

    svg{
      display: flex;
      align-self: start;
      width: 10px;
      height: 9px;
      fill: var(--dark-gray);
      transition: all .2s ease;
    }

    .subsText{
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      flex-direction: row;
      column-gap: 5px;
      align-items: center;
      text-align: center;

      .subsCount{
        font-weight: 700;
        min-width: auto;
        white-space: nowrap;
        text-align: end;
      }
    }
  }
}