

.wrapper{
    display: flex;
    align-items: center;
    position: relative;
    z-index: 9;
    width: 100%;
    padding: 10px 25px;
    align-items: center;
    gap: 10px;
    border-radius: 61px;
    border: 2px solid #606060;
    transition: border 0.25s ease;

    svg{
        width: 25px;
        height: 25px;
    }

    input{
        color: white;
        background-color: transparent;
        width: 100%;
        font-size: 16px;
        border: none;
        outline: none;
        box-shadow: none;
        z-index: 1;

    }
    &.focus{
        border: 2px solid var(--blue);
        z-index: 109;
    }
}