


.wrapper{
    position: relative;
    font-size: 18px;
    width: 340px;
    max-width: 100%;    
    height: 100%;

    &.open{
        .selectedSort{
            border: 1px solid var(--blue);
            svg{
                transform: rotate(180deg);
            }
        }
        .select{
            display: flex;
        }
    }

    --background: #2f2f2f;

    .selectedSort{
        border: 1px solid transparent;
        display: flex;
        gap: 4px;
        align-items: center;
        justify-content: space-between;
        position: relative;
        min-height: 48px;
        border-radius: 12px;
        background-color: var(--light-black);
        width: 100%;
        max-width: 100%;    
        padding: 10px 30px;
        cursor: pointer;

        svg{
            width: 16px;
        }

        .highlight{
            color: var(--blue);
        }
    }

    .select{
        display: none;
        flex-direction: column;
        gap: 4px;
        position: absolute;
        list-style: none;
        margin: 0;
        padding: 0;
        z-index: 9;
        border-radius: 12px;
        padding: 10px;
        background-color: #2f2f2f;
        width: 100%;
        max-width: 100%;    
        margin-top: 10px;

        .option{
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 4px;
            border-radius: 12px;
            padding: 10px 20px;
            background-color: transparent;
            cursor: pointer;

            svg{
                fill: var(--blue);
                width: 16px;
            }

            &.selected{
                background-color: var(--dark-gray);
            }
            
            &:hover{
                background-color: var(--dark-gray);
            }
        }
    }
}


@media (max-width: 480px) {
    .wrapper{
        width: 100%;

        .selectedSort{
            padding: 10px 25px;
            min-height: 50px;
        }

        .select{
            padding: 8px;
            .option{
                padding: 12px 17px;
            }

        }
    }
}