

.list{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 10px;
    font-size: 16px;

    .item{
        border-radius: 8px;
        padding: 10px 18px;
        background-color: var(--dark-blue);
        cursor: pointer;

        transition: all .25s ease;

        &:hover{
            background-color: var(--blue);
        }

        &.selected{
            background-color: var(--blue);
        }
    }
}

@media (max-width: 480px) {
    .list{
        gap: 8px;
        .item{
            font-size: 15px;
            padding: 10px 14px;
        }
    }
}