

.container{
    display: flex;
    flex-direction: column;
    gap: 16px;

    .top{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 0 20px;
        gap: 20px;
        overflow: hidden;
    
        >a{
            display: flex;
            align-items: center;

            img{
                object-fit: contain;
                max-width: 100%;
            }
        }
    }
    
    .banners{
        position: relative;
        width: 100%;
        
        margin-top: 20px;
        padding: 0 15px;
        overflow: hidden;
    }
    
    .titleMobile{
        padding: 0 20px;
    }
}