


.header{
    margin: 50px auto 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
    overflow: visible;
    z-index: 19;
    position: relative;

    >a{
        display: flex;
        align-items: center;
    }
}