

.header{
    margin: 50px auto 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    overflow: visible;

    
    .top{
        display: flex;
        align-items: center;
        width: 100%;

        >a{
            display: flex;
            align-items: center;
        }

        .titleDesc{
            display: block;
        }

        .menu{
            margin-left: auto;
        }
    }

    .titleMobile{
        display: none;
    }
}


@media (max-width: 900px){
    .header{
        width: 100%;
        flex-direction: column;
        margin: 20px auto 30px auto;
        gap: 16px;
        align-items: start;

        .top{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

             .titleDesc{
                display: none;
            }
        }

        .titleMobile{
            display: block;
        }
    }
}

@media (max-width: 480px){
    .header{
        width: 100%;
        .top{
            gap: 20px;
            >a{
                >img{
                    width: 100%;
                    object-fit: contain;
                }
            }
        }
    }
}

@media (max-width: 650px){
    .header{
        margin: 20px auto 40px auto;
    }
}