


.content{
    display: flex;
    width: 100%;
    flex-direction: row;
    border-radius: 20px;
    background: var(--light-black);
    gap: 20px;
    padding: 20px;
    
    &.vip{
        position: relative;
        background-image: url('../../lib/assets/VipCardBackground.svg');
        background-repeat: no-repeat;
        background-size: cover;
        border: none;

        &::before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            
            margin: -1px; 
            
            border-radius: 21px; // = радиус родителя + толщина рамки
            
            background: linear-gradient(180deg, 
                rgba(22, 239, 243, 0.7) 0%,   
                rgba(22, 239, 243, 0.5) 50%,  
                rgba(22, 239, 243, 0.7) 100% 
            );
            
            z-index: -1;
        }
    }
}

@media (max-width: 1050px) {
    .content{
        flex-direction: column;
    }
}

@media (max-width: 700px) {
    .content{
        &.vip{
            border: 1px solid var(--turquoise);

            &::before{
                display: none;
            }
        }

    }
}

@media (max-width: 550px) {
    .content{
        flex-direction: column;
        padding: 20px 16px;
    }
}
